header {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 66, 0);
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  padding-bottom: 1rem;
  box-sizing:border-box

}
body {
  display: flex;
  justify-content: center;
  background-image: url("https://res.cloudinary.com/enchanting/q_70,f_auto,w_4265,h_2341,c_fit/exodus-web/2019/03/Sipoonkorpi-National-Park_AdobeStock_464550231.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#header-title {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
}
.home-title {
  display: flex;
  justify-content: center;
}
#page-layout {
  background-color: white;
  width: 1000px;
  justify-content: center;
  padding: 1rem;
  flex-direction: column;
  height: 95%;
  border: solid;
  border-width: 2px;
  border-radius: 10px;
}

#nav-bar {
  background-color: rgb(0, 66, 0);
  display: flex;
  justify-content: space-around;
  list-style: none;
  height: 100%;
  padding: 5px;
  gap: 1rem;
}
.nav-button {
  display: block;
  background-color: green;
  color: black;
  border: solid;
  font-size: medium;
  font-weight: bold;
  width: auto;
  text-decoration: none;
  padding: 1rem 2rem;
}
.nav-button:hover {
  opacity: 70%;
  background-color: moccasin;
  cursor: pointer;
}
.nav-button:visited {
  color: black;
  text-decoration: none;
}
.home-boxes {
  display: flex;
  justify-content: space-between;
  margin:8%;
  height: 12rem;
  min-height: 0;
}
#car {
  width: auto;
}
#contact {
  padding-right: 5rem;
}

.top-box-text {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size:large;
}
#packing-list {
  display: flex;
  flex-direction: row;
}
#left-column {
  display: flex;
  flex-direction: column;
  width: 50%;
}
#right-column {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.links {
  text-decoration: none;
  color: darkgreen;
  font-weight: bold;
}
@media (max-width: 600px) {
  #page-layout {
  background-color: rgb(160, 241, 83);
  width: 100%;

}
}